.mainInfo {
  background-color: rgb(87, 87, 87);
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 2px 2px rgb(255, 255, 255);
}

.city {
  font-size: 32px;
  text-align: center;
  font-weight: bolder;
}

.country {
  font-size: 20px;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.condition {
  font-size: 24px;
}

.current {
  font-size: 38px;
  font-weight: bold;
}
